src-qt3/Common/SystemFile/DTDComponents/Prc_ProcessModule.dtd.01

<!-- VERSION:03 -->
<!ELEMENT ProcessModule (Group+, Module, Note?, DiagramIcon) >
<!ATTLIST ProcessModule 
          name CDATA #REQUIRED
       	  id ID #REQUIRED
          hostname CDATA #REQUIRED
          port NMTOKEN #REQUIRED>

<!ELEMENT Module (Parameter*)>
<!ATTLIST Module 
          name CDATA #REQUIRED
          id ID #REQUIRED
          isUsermodule  (yes|no)  #IMPLIED
          filename CDATA #IMPLIED>

<!-- 
<!ELEMENT MParameter EMPTY>
<!ATTLIST MParameter
          name  CDATA #REQUIRED
          value  CDATA #REQUIRED>
 -->